body {
    background: rgb(225, 230, 233);
    font-family: Georgia;
}
.container_black {
    width: 80%;
    height: 25pt;
    margin: 2.5% 15% 0%;
    background:linear-gradient(to right, black 15%, grey);
}
.container_black ul{
    padding-left: 40px;
    height: 32px;
    margin: 0;
}
.container_white ul {
    display: inline-block;
    margin: 0;
}
.container_black ul li {
    display: inline-block;
    margin-right: 32px;
}
.container_white{
    padding: 0;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-top: none;
}

.container_white li {
    height: 100%;
    border-right: 1px solid #cbcbcb;
    float: left;
    padding: 0 20px 0 20px;
    transition: 0.2s;
    list-style-type: none;
    align: center;
}

.container_black li a {
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 15px;
    color: #727272;
    line-height: 33px;
}
.div{
    float:left;
}
.container_white{
    width: 80%;
    height: 30pt;
    margin: 0px 15%;
    background:#fff;
    border: 1px solid #cbcbcb;
    border-top: none;
}
.nav__link_white {
    position: relative;
    top: 8pt;
    font-size: 12pt;
    color: grey;
    text-decoration: none;
    align: center;
}
a {
    text-decoration: none;
    margin: 0;
}
.nav__link {
    position: relative;
    top: 6pt;
    font-size: 12pt;
    margin-left: 10pt;
    padding-left: 10pt;
    color: #fff;
    text-decoration: none;
}
h1 {
    margin: 0;
    font-size: 50pt;
}

h2 {
    font-size: 14pt;
    margin-top: 1%;
    margin-bottom: 1%;
}
h3 {
    font-size: 13pt;
    color: black;
    margin-bottom: 1%;
}
.header__inner {
    width: 80%;
    max width: 600px;
    margin: 2.5% 15% 2.5% 15%;
}
.intro {
    width: 100%;
    height: 100vh;
}
.underlogo{
    font-size: 14pt;
}
.news {
    float: left;
    width: 50%;
    height: auto;
    padding-top: 35px;
    padding-left: 15px;
    background: #fff;
    margin-left: 16%;
    resize: none;
    position: relative;
}
.article{
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin-bottom: 15px;
}
.artice_left{
    margin-right: 20px;
}
.article__img {
    border: 1px solid #cbcbcb;
    width: 100%;
    height: 100%;
}
.element {
    letter-spacing: -0.8px;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    background:black;
    background-repeat: no-repeat;
    background-position-y: top;
    width: 236px;
    height: 73px;
    color: #fff;
    position: absolute;
}

.news > .element1 {
   z-index: 10;
   width: 236px;
   height: 43px;
   background-size: 236px 43px;
   padding-top: 10px;
   left: -10px;
   top: -22px;
}
.news > .element2 {
    z-index: 2;
    width: 11px;
    height: 17px;
    background-size: 16px 17px;
    left: -10px;
    top: 22px;
}
aside {
    margin-top: 1.5%;
    width: 40%;
    height: auto;
    float: right;
   }
.sidebar {
    display: inline-block;
    margin-left: 45px;
    width: 26%;/* Ширина */
    height: auto;
    resize: none;
}
#searchbar {
    height: 50px;
    border: 1px solid darkgray;
    padding-left: 2%;
    margin: 0;
    background:linear-gradient(to bottom left, lightgray, #fff 90%);
}
#enter {
    height: 40pt;
    width: 100px;
    background: #fff;
    border: none;
    padding: 0;
}
.media {
    margin-top: 15pt;
}
.media__img {
    float:left;
    margin-right: 5%;
    margin-top: 5px;
}
.media__example{
    width:50%;
    float:left;
    height: auto;
}
.counter {
    font-size: 20pt;
    margin: 0%;
}
.more_articles {
    margin-top: 30pt;
    margin-bottom: 15px;
    background:linear-gradient(to bottom left, lightgray, #fff 90%);
    display: inline-block;
    width: 100%;
    height: auto;
}
.more_articles__article {
    margin: 15px 15px 0;
    padding-top: 20px;
    color: darkgray;
    height: 100px;
}
.more_articles__article:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    margin: 15px auto 20px;
    background-color: darkgray;

}
.img_padding{
    padding: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
.more_articles__text {
    padding-left: 10px;
    color: black;
    margin: 0;
}
.more_articles__menu {
    margin: 0;
}
.more_articles__menu li{
    list-style-type: none;
    float: left;
}
.navigation__button {
    position: relative;
    top: 20px;
    margin-left: 30px;
    width: 200px;
    color: black;
}
.menu {
    width:100%;
}

.columns {
    width: 100%;
}
.container{
    float:left;
    width:45%;
    margin-bottom: 15px;
}

.container__category {
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    height: auto;
    color: darkgray;
    font-size: 13pt;
}
.container__category:after {
    content: '';
    position: relative; /* Абсолютное позиционирование */
    right: 100px; bottom: -40px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 20px solid black; /* Добавляем треугольник */
}
.container li a{
    width: 138px;
    height: 40px;
    line-height: 40px;
    color: #444444;
    border-bottom: 1px solid #b7bcbf;
    display: block;
    font-weight: bold;
    font-size: 12px;
    transition: 0.5s;
    padding-left: 0;
}
.container ul {
    padding: 0;
}
.ads{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: inline-block;
    background:linear-gradient(to bottom left, lightgray, #fff 90%);
}
.buttons{
    float: left;
    width: auto%;
    height: auto;
    margin-top: 35px;

    margin-left: 16%;
    resize: none;
    background: white;
}
.buttons input{
    height: 25px;
    width: auto;
    align:center;
}
.buttons pre {
    display: inline-block;
    margin: 0;
    width: 25px;
}
#footer {
    width: 110%;
    background: black;
    margin: 2.5% 0% 0%;
    float:left;
}
.footer__container {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    margin-left: 30px;
    vertical-align: top;
}
.footer__container button{
    border-radius: 4px;
    background: #1a1a1a;
    color: #b7b7b7;
    width: 83px;
    height: 31px;
}
#footer__container__header {
    weight: 100;
    height: 20px;
    width: inherit;
    margin-bottom: 20px;
}
#footer__container__header:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 15px auto 20px;
    background-color: #414141;
}
.footer__container__text{
    display: block;
    width: 240px;
    color: #b7b7b7;
    border-bottom: 2px solid #414141;
    height: 30px;
    line-height: 20px;
    font-family: Georgia;
    font-size: 14pt;
    padding-left: 10px;
    padding-top: 10px;
}
#mail {
    width: 120%;
    height: 20px;
    resize: none;
}
#mail__text {
    margin:0;
}
#mail_message {
    width: 120%;
    height: 80px;
    resize: none;
}
.footer__container button {
    width: 40%;
    background: #414141;

}
.footer__container__article__text{
    display: block;
    color: #b7b7b7;
    font-family: Georgia;
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 10px;
}
.footer__container__article__text a{
    align: bottom;
}
.footer__container__article:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 0;
    background-color: #414141;
}
.footer__container__article span{
    color: #b7b7b7;
    font-size: 8pt;
    padding-left: 10px;
}
.footer__container.third_column {
    width: 309px;
}
.footer__container.third_column.footer__container__article{
    width: inherit;
}

#footer__container__header__fourth: after{
    width:0;
}
.copyrating {
    margin-top: 30px;
    height: 50px;
    background: #222222;
    color: #b7b7b7;
    font-size: 15px;
    line-height: 50px;

}
.text:nth-of-type(1){
    float: left;
    margin: 0% 15%;
}
.text:nth-of-type(2){
    float: right;
    margin: 0% 15%;
}
